* {
    color: #747704;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    padding-top: 10px;
}

.name {
    font-size: 56px;
}

.list {
    color: #BCBBBB;
}

h2  {
    padding-left: 30px;
}

.h3-title {
  margin-top: 0;
}

.relative {
    position: relative;
}

.hr {
    background-color: #BCBBBB;
    height: 5px;
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
}

.no-padding {
    padding-right: 0;
}

.main-img {
    padding-right: 0;
    padding-left: 15px;
    padding-top: 20px;
}

a {
    color: #BCBBBB;
}